    <div class="widget sponsors">
      <h3>Your Expo Sponsor</h3>
      <%= link_to("www.domayne.com.au", :title=>"Domayne Website") do %>
        <%= image_tag 'domayne-logo-high.png', :width=>"200", :height=>"55", :alt=>"Domayne" %>
      <% end %>  
    </div>  
