  <div class="bg-brand-stripe header">
    <div class="container">
      <header>
        <%= link_to(:home, :class=>"logo", :title=>"WorldStage Expo") do %>
          <%= image_tag "wse-logo.png", :class=>"wse-logo", :alt=>"WorldStage Expo", :width=>"450", :height=>"105" %>
        <% end %>
      </header>
    </div>
  </div>
