<div class="clearfix">
  <div class="main-column">
    <h2>About WorldStage Expo</h2>
    <div class="brand-divider"></div>
  </div>
  <div class="side-column">
    <%= render "shared/sponsors" %>
  </div>
</div>
