<% content_for :body_class do %>expo-closed<% end %>
<div class="closed">
  <div class="inner">
    <h2>
      Your Northern Beaches Expo is currently closed.
    </h2>
    <h3>
      Please return on the 25th-26th May when you can experience the full expo online.
    </h3>
  </div>
</div>
