<div class="home-copy">
  <h2>Enhance your clients’ live tradeshow experience.</h2>

  <p><b>WorldStage Expo</b> is an Australian owned company that provides an
  online platform for tradeshows, fairs and expos through an interactive
  web-based environment.</p>

  <p>Now anyone can attend your event, regardless of their location or
  accessibility! Whether you are an event organiser or event participant,
  expand your exposure and increase the number of attendees by
  extending your audience to a global scale.</p>

  <p>Attendees and visitors are engaged through access to show specials,
  presentations and demos, and social networking opportunities.</p>

  <p>Your online tradeshow is fully customisable and can be tailored to
  include a range of web-based collaboration tools and applications.
  Major sponsors are highlighted. Visitation is tracked, providing you with
  a snapshot of attendees and potential clients. It enables web-based
  networking opportunities.</p>

  <p>At WorldStage Expo, we believe in providing our clients with the best
  possible service and promoting their business to a world-wide audience.</p>
</div>
