// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
	background: asset-url("brand-stripe.gif", "image") repeat-x #eee;
	* {
		font: 16px Verdana;
	}
	.inline-content {
		display: none;
	}

	.inline {
		border: 4px solid #fff;
		//padding: 20px;
		background-color: #eee;
		color: #333;
		.stand-content {
			position: relative;
			height: 640px;
			width: 940px;
			.header {
				background-color: #fff;
				width: 920px;
				padding: 10px;
				height: 30px;
			}
			.copy {
				background: asset-url("brand-stripe.gif", "image") repeat-x #eee;
				overflow: scroll;
				height: 590px;
				width: 920px;
				padding: 0 10px;
			}
		}
	}

	#welcome {
		padding: 20px;
	} 

	button {
		margin-top: 10px;
		background-color: #33cc33;
		border: #00aa00;
		&:hover {
			cursor: pointer;
		}
	}
}