<nav class="breadcrumb">
  <%= link_to "Main floor", :northern_beaches %> &nbsp;&gt;&nbsp;
  <%= link_to "All Woman Show/Home and Lifestyle Show", :northern_beaches_ne_section %> &nbsp;&gt;&nbsp;
  <span>WorldStage Expo</span>
</nav>
<div class="stand-number">
  Stand
  <div class="number">H100</div>
</div>
<div class="copy">
  <div class="clearfix">
    <div class="main-column">
      <%= image_tag "wse-logo-without-text.png", :class=>"logo" %>
      <h1 class="company-name">WorldStage Expo</h1>
      <p class="company-description">
        <span class="lbl-about-us">in our words...</span>&quot;<span class="quoted">-&nbsp;</span>
      </p>
      <div class="brand-divider"></div>
      <section>
        <article class="clearfix">
        </article>
      </section>
    </div>
    <div class="side-column">
      <div class="image-header">
        Your Stall Hosts
      </div>
      <div id="slides">
        <div class="slides_container">
        </div>
      </div>
      <div class="widget">
        <h3>Today's Free Seminars</h3>
      </div>
      <div class="widget">
        <h3>Today's Expo Special</h3>
        <p class="special">
        </p>
        <p>Ask one of our friendly staff at the stand about it!</p>
      </div>
      <div class="widget">
        <h3>Chat Online</h3>
      </div>
    </div>
  </div>
  <div class="footer vendor">
    Contact WorldStage Expos: <span class="contact"><a href="tel://02-9975-7600">02 9975 7600</a></span> | <span class="contact"><a href="mailto:sales@JoinBiz.com.au">sales@JoinBiz.com.au</a></span> | <span class="contact">Narrabeen NSW</span>
  </div>
</div>

<script type="text/javascript">
  $(document).ready( function() {
    //wire up slideshow
    $("#slides").slides({
        preload: true,
        generatePagination: false,
        play: 3000
      });
  });
</script>
